---
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>RECIPES{% if title %}—{{ title }}{% endif %}</title>
{% set css %}{% include "theme.css" %}{% endset %}
{% set js %}{% include "theme.js" %}{% endset %}
		<style>{{ css | cssmin | safe }}</style>
		<meta property="og:title" content="RECIPES{% if title %}—{{ title }}{% endif %}" />
    </head>
	<body{% if bodyclass %} class="{{ bodyclass }}"{% endif %}>
    <nav>
    <div>
        <a href="/">painless recipes</a>
    </div>
        {% include "components/theme-toggle.njk" %}
    </nav>
    <main>
    {% if title %}<h1>{{ title }}</h1>{% endif %}
    {% if subtitle %}<div role="doc-subtitle">{{ subtitle }}</div>{% endif %}
    {% if category %}<a id="category" href="/categories/{{ category }}">{{category}}</a>{% endif %}
    {{ content | safe }}
    {% if tags %}
      <strong>tags:</strong>
    {%- for tag in tags -%}
      <li><a href="/tags/{{ tag }}">{{ tag }}</a></li>
    {%- endfor -%}
    {% endif %}
    </main>
    <footer>
      <div>
      <div>
        <a href="https://github.com/aaronmaturen/painless-recipes/blob/main/{{ page.inputPath }}">edit this page on GitHub</a>
      </div>
      <div>
        <a href="/about">about</a>
      </div>
      </div>

    </footer>
    <script>{{ js | jsmin | safe }}</script>
    </body>
</html>
